﻿
@{
    ViewBag.Title = "General";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";

}
<div id="toast">
    @if (ViewBag.ChangeInforMg != null)
    {
        <script>
            $(document).ready(function () {
                $("toast").load(checkGeneral());
            })
        </script>
        <input type="hidden" class="success" value="@ViewBag.ChangeInforMg" />
    }
    else if (ViewBag.ChangeInforErrorMg != null)
    {
        <script>
            $(document).ready(function () {
                $("toast").load(checkGeneralError());
            })
        </script>
        <input type="hidden" class="fail" value="@ViewBag.ChangeInforErrorMg" />
    }
    else if (ViewBag.PasswordGeneralMg != null)
    {
        <script>
            $(document).ready(function () {
                $("toast").load(checkPassGeneral());
            })
        </script>
        <input type="hidden" class="fail" value="@ViewBag.PasswordGeneralMg" />
    }
    else if (ViewBag.PasswordGeneralErrorMg != null)
    {
        <script>
            $(document).ready(function () {
                $("toast").load(checkPassGeneralError());
            })
        </script>
        <input type="hidden" class="fail" value="@ViewBag.PasswordGeneralErrorMg" />
    }

</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="parallax-infor">
                <p class="titlecontent">GENERAL</p>
                <div class="under-border"></div>
            </div>
            <div class="title_general mt-4">
                <a class="hover__ information active" id="information">Information</a>
                <a class="hover_ change" id="change">Change Password</a>
            </div>
        </div>
    </div>
    <div class="container" id="display">

    </div>
</div>



<script>

    $(document).ready(function () {
        $("#display").load("Information", "Account");
    });
    $("#change").click(function () {
        $("#display").load("Change", "Account");
    });
    $("#information").click(function () {
        $("#display").load("Information", "Account");
    });
    //css cho thẻ information
</script>
<script>
    setTimeout(function () {
        $('#msgAlert').fadeOut('slow');
    });
</script>
