@model Jewelly.Models.AdminLoginMst
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPageAdmin.cshtml";
}
<h2 class="title--admin">Edit</h2>
<div class="container container--left">
    <div class="row">
        <div class="col-md-12"></div>
    </div>
</div>

