
@{
    ViewBag.Title = "Manager";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPageAdmin.cshtml";
}

<h2 class="title--admin">Admin Manager</h2>
<hr class="mx-5" />
<div class="search--group">
    <a href="" class="btn btn-primary">Add new Administrator</a>
</div>
